{{define "searchBody"}}
<div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                <ul class="sidebartop">
                    <li class="nolink search">
                        <div role="search">
                            <form id="rtd-search-form" class="wy-form" action="search" method="get">
                                <input type="text" name="q" placeholder="Search this document" aria-label="Search this project" id="searchinput" />
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                <p class="caption"><span class="caption-text">Getting Started</span></p>
                <ul class="current">
                    <li class="toctree-l1">
                        <a class="reference internal" href="svp_ataGlance.html">SVP Dashboard At-a-Glance</a>
                        <ul>
                            <li class="toctree-l2"><a class="reference internal" href="svp_ataGlance.html#interrogate-a-sunspec-device">Interrogate a SunSpec Device</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_ataGlance.html#write-data-to-a-device">Write Data to a Device</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_ataGlance.html#save-the-current-device-information-models">Save the Current Device Information Models</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_ataGlance.html#summary">Summary</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1">
                        <a class="reference internal" href="svp_gettingStarted.html">Getting Started</a>
                        <ul>
                            <li class="toctree-l2">
                                <a class="reference internal" href="svp_gettingStarted.html#step-1-create-your-custom-application">Step 1. Create Your Custom Application</a>
                                <ul>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_gettingStarted.html#create-a-datapoint">Create a Datapoint</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_gettingStarted.html#write-the-datapoints">Write the Datapoints</a></li>
                                </ul>
                            </li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_gettingStarted.html#step-2-run-the-example-and-visualize-your-data">Step 2. Run the Example and Visualize Your Data</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_gettingStarted.html#summary">Summary</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_gettingStarted.html#example-source">Example Source</a></li>
                        </ul>
                    </li>
                </ul>
                <p class="caption"><span class="caption-text">GUI User Guide</span></p>
                <ul class="current">
                    <li class="toctree-l1">
                        <a class="reference internal" href="svp_dashUI.html">Dashboard GUI Reference</a>
                        <ul>
                            <li class="toctree-l2">
                                <a class="reference internal" href="svp_dashUI.html#general-gui-operations">General GUI Operations</a>
                                <ul>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_dashUI.html#menu-bar">Menu Bar</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_dashUI.html#drop-down-menus">Drop-down Menus</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_dashUI.html#main-window-and-dialogs">Main Window and Dialogs</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_dashUI.html#tabs">Tabs</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_dashUI.html#accordion-lists">Accordion Lists</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_dashUI.html#action-buttons">Action Buttons</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_dashUI.html#data-entry">Data Entry</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_dashUI.html#error-notification">Error Notification</a></li>
                                </ul>
                            </li>
                            <li class="toctree-l2">
                                <a class="reference internal" href="svp_dashUI.html#feature-description">Feature Description</a>
                                <ul>
                                    <li class="toctree-l3">
                                        <a class="reference internal" href="svp_dashUI.html#device-menu">Device Menu</a>
                                        <ul>
                                            <li class="toctree-l4"><a class="reference internal" href="svp_dashUI.html#open">Open</a></li>
                                            <li class="toctree-l4"><a class="reference internal" href="svp_dashUI.html#close">Close</a></li>
                                            <li class="toctree-l4"><a class="reference internal" href="svp_dashUI.html#create-pics-template">Create PICS Template</a></li>
                                            <li class="toctree-l4"><a class="reference internal" href="svp_dashUI.html#export-as">Export As</a></li>
                                        </ul>
                                    </li>
                                    <li class="toctree-l3">
                                        <a class="reference internal" href="svp_dashUI.html#tools-menu">Tools Menu</a>
                                        <ul>
                                            <li class="toctree-l4"><a class="reference internal" href="svp_dashUI.html#model-directories">Model Directories</a></li>
                                            <li class="toctree-l4"><a class="reference internal" href="svp_dashUI.html#update-model-definitions">Update Model Definitions</a></li>
                                        </ul>
                                    </li>
                                    <li class="toctree-l3">
                                        <a class="reference internal" href="svp_dashUI.html#help-menu">Help Menu</a>
                                        <ul>
                                            <li class="toctree-l4"><a class="reference internal" href="svp_dashUI.html#user-guide">User Guide</a></li>
                                            <li class="toctree-l4"><a class="reference internal" href="svp_dashUI.html#about">About</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="caption"><span class="caption-text">Tutorials</span></p>
                <ul class="current">
                    <li class="toctree-l1">
                        <a class="reference internal" href="svp_t_readwrite.html">Read and Write Data Points</a>
                        <ul>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_readwrite.html#step-1-open-the-device">Step 1. Open the Device</a></li>
                            <li class="toctree-l2">
                                <a class="reference internal" href="svp_t_readwrite.html#step-2-select-a-model-and-view-the-data-points">Step 2. Select a Model and View the Data Points</a>
                                <ul>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_readwrite.html#column-one">Column One</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_readwrite.html#column-two">Column Two</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_readwrite.html#column-three">Column Three</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_readwrite.html#column-four">Column Four</a></li>
                                </ul>
                            </li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_readwrite.html#step-3-view-or-update-data-points">Step 3. View or Update Data Points</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_readwrite.html#step-4-close-the-device-connection">Step 4. Close the Device Connection</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1">
                        <a class="reference internal" href="svp_t_exportImage.html">Export a Device Image</a>
                        <ul>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_exportImage.html#step-1-open-the-device">Step 1. Open the Device</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_exportImage.html#step-2-get-a-device-snapshot">Step 2: Get a Device Snapshot</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_exportImage.html#step-3-close-the-device">Step 3. Close the Device</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1">
                        <a class="reference internal" href="svp_t_manageIM.html">Manage Model Directories</a>
                        <ul>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_manageIM.html#view-the-model-directories">View the Model Directories</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_manageIM.html#add-a-model-definition-directory">Add a Model Definition Directory</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_manageIM.html#reorder-a-model-definition-directory">Reorder a Model Definition Directory</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_manageIM.html#remove-a-model-definition-directory">Remove a Model Definition Directory</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1">
                        <a class="reference internal" href="svp_t_genWorkbook.html">Manage Model Definition Workbooks</a>
                        <ul>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_genWorkbook.html#transform-a-json-formatted-model-definition-to-a-workbook">Transform a JSON-formatted Model Definition to a Workbook</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_genWorkbook.html#transform-a-workbook-to-a-json-formatted-model-definition">Transform a Workbook to a JSON-formatted Model Definition</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="svp_t_genWorkbook.html#transform-an-unformatted-workbook-to-a-formatted-workbook">Transform an Unformatted Workbook to a Formatted Workbook</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1">
                        <a class="reference internal" href="svp_t_createPICS.html">Create a PICS Document</a>
                        <ul>
                            <li class="toctree-l2">
                                <a class="reference internal" href="svp_t_createPICS.html#populate-the-pics-template">Populate the PICS Template</a>
                                <ul>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_createPICS.html#connect-to-the-device">Connect to the Device</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_createPICS.html#enter-data-in-the-pics-template">Enter Data in the PICS Template</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_createPICS.html#close-the-device">Close the Device</a></li>
                                </ul>
                            </li>
                            <li class="toctree-l2">
                                <a class="reference internal" href="svp_t_createPICS.html#pics-document-description">PICS Document Description</a>
                                <ul>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_createPICS.html#instructions-page">Instructions Page</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_createPICS.html#certification-info-page">Certification Info Page</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_createPICS.html#testing-info-page">Testing Info Page</a></li>
                                    <li class="toctree-l3"><a class="reference internal" href="svp_t_createPICS.html#device-information-model-pages">Device Information Model Pages</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="caption"><span class="caption-text">Resources</span></p>
                <ul class="current">
                    <li class="toctree-l1"><a class="reference internal" href="svp_support.html">Support</a></li>
                    <li class="toctree-l1"><a class="reference internal" href="svp_acronyms.html">Acronyms</a></li>
                </ul>
                <p class="caption"><span class="caption-text">Release Notes</span></p>
                <ul class="current">
                    <li class="toctree-l1"><a class="reference internal" href="svp_release.html">Release Notes</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
        <div class="wy-nav-content">
            <div class="rst-content">
                <a href="index.html">Home</a>

                <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <div itemprop="articleBody" class="toBeIndexed">
                        <div class="document">
                            <div class="section" id="support">
                                <h1>Search Results</h1>
                            </div>
                            <div>
                                {{renderResults}}
                            </div>
                        </div>
                    </div>
                    <!-- /.toBeIndexed -->
                </div>
                <footer>
                    <div class="rst-footer-nav" role="navigation" aria-label="footer navigation"></div>
                </footer>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT: "./",
        VERSION: "",
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: ".html",
        HAS_SOURCE: true,
    };
</script>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/underscore.js"></script>
<script type="text/javascript" src="static/js/doctools.js"></script>
<script type="text/javascript" src="static/js/language_data.js"></script>
<script type="text/javascript" src="static/js/searchtools.js"></script>
<script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="static/js/theme.js"></script>
<script type="text/javascript">
    jQuery(function () {
        SphinxRtdTheme.StickyNav.enable();
    });
</script>
<script type="text/javascript" id="idPiwikScriptPlaceholder"></script>
<header>
    <div class="header__container">
        <a href="index.html"><img class="raw_img" height="64" src="img/bannerLogo.png" alt="Documentation" /></a>

        <ul class="header__links">
            <li><a href="https://www.gh.works">Community</a></li>
            <li><a href="https://github.com/ghartsel">GitHub</a></li>
            <li><a href="gene@gh.works">Contact</a></li>
            <li><a href="https://www.gh.works/">About</a></li>
        </ul>
    </div>
</header>
{{end}}
